.d-block{
    display: block;
}
.blog-thumb {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.enginescale-blog-section {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #040415;
}
.enginescale-blog-section .blog-content{
    padding: 30px 20px 20px 20px;
}
.blog-meta {
    font-size: 12px;
    color: #1D1D1D;
    margin-bottom: 8px;
}
.blog-meta p {
    margin: 0 0 -3px;
}
.blog-meta strong {
    font-weight: 600;
}
.enginescale-blog-section h2 {
    font-size: 24px;
    line-height: 36px;
    margin: 0px 0 15px;
}
.enginescale-blog-section h2, 
.enginescale-blog-section h2 a,
.enginescale-blog-section .redmore{
    color: #1D1D1D;
}
.enginescale-blog-section .redmore{
    font-size: 18px;
    font-weight: 500;
    font-family: "DM Sans";
    margin-top: 10px;
    display: inline-block;
}
.enginescale-blog-section .redmore i {
    transform: rotate(-45deg);
    position: relative;
    bottom: -1px;
    right: -8px;
}
.enginescale-blog-section .redmore:hover, 
.enginescale-blog-section h2:hover{
    color: #36ABA3;
}
.enginescale-blog-section .redmore img{
    margin-left: 5px;
}
.blog-thumb-wrap{
    overflow: hidden;  
}
.blog-thumb-wrap .blog-thumb{
    transition: all .5s ease;  
}
.blog-thumb-wrap:hover .blog-thumb{
    transform: scale(1.1);  
}
.enginescale-blog-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.enginescale-blog-section .single-item{
    background-color: #F6F6F6;
    height: 265px;
    display: flex;
    margin: 0;
}
.enginescale-blog-section .single-item .blog-thumb-wrap {
    width: 40%;
}
.enginescale-blog-section .single-item .blog-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* services */
.services-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.single-service-item h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1C1C1C;
    margin: 10px 0 30px;
    transition: all .3s ease;
}
.single-service-item a {
    color: #363636;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    padding: 30px 20px 40px 20px;
}
.single-service-item i {
    width: 16px;
    height: 16px;
    background-color: #C9C9C9;
    font-size: 8px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    top: -2px;
    right: -5px;
}
.single-service-item:hover a {
    background-color: #36ABA3;
}
.single-service-item a {
    transition: all .3s ease;
}
.single-service-item:hover a h2,
.single-service-item:hover a {
    color: #fff;
}


/* (max-width:1024px) */
@media (max-width:1024px){
    .enginescale-blog-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

/* max-width:768px */
@media (max-width:768px){
    .services-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .enginescale-blog-section h2{
        font-size: 22px;
    }

}

/* max-width:575px */
@media (max-width:475px){
    .services-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .enginescale-blog-section .single-item {
        display: block;
        height: auto;
    }
    .blog-thumb-wrap .blog-thumb {
        height: 200px;
    }
    .enginescale-blog-section .single-item .blog-thumb-wrap {
        width: 100%;
    }
    .enginescale-blog-section .single-item .blog-content {
        width: 100%;
        height: auto;
    }
    .post-excerpt {
        display: none;
    }
    .enginescale-blog-section .blog-content {
        padding: 20px 15px 20px 15px;
    }
    .enginescale-blog-section .redmore{
        margin-top: 0;
    }



}











/* Responsive CSS */
@media (max-width:1024px) {
   


    
}

/* max-width:768px */
@media (max-width:768px) {
    


    
}
